.od-header-section {
  display: flex;
  justify-content: space-around;
}

.id-and-seller-div {
  display: flex;
}

.order-detail-info {
  font-family: Poppins , sans-serif;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0;
  line-height: 48px;
  margin: 10px;
  text-align: left;
}

.order-detail-date {
  font-weight: 900;
}

.status-detail {
  align-items: center;
  display: flex;
  font-family: Poppins , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.delivered-button {
  background: #006725;
  border-radius: 10px;
  color: white;
  font-family: Poppins , sans-serif;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  text-align: center;
}

.delivered-button:disabled {
  background: #830000;
}

.containerTable {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.productId {
  background: #d8a135;
  padding: 10px;
  text-align: center;
  width: 20px;
}

.productName {
  padding: 10px;
  padding-left: 10px;
  text-align: left;
  width: 210px;
}

.productQuantity {
  background: #f4b740;
  padding: 10px;
  text-align: center;
  width: 10px;
}

.productPrice {
  background: #6e7191;
  color: white;
  padding: 10px;
  text-align: center;
  width: 110px;
}

.productSubTotal {
  background: #774000;
  color: white;
  padding: 10px;
  text-align: center;
  width: 80px;
}

.containerValue {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
}

.colorValue {
  background: #d8a135;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100px;
}
